body {
  background-color: rgb(255, 255, 255);
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

#container {
  width: 100%;
  height: 49vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}
.row {
  display: flex;
  clear: both;
}
.center {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 35%;
}


#item {
  width: 100px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, 0.5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}

#item:active {
  background-color: rgba(168, 218, 220, 1);
}

#item:hover {
  cursor: pointer;
  border-width: 20px;
}

#area {
  position: fixed;
  right: 0;
  top: 0;
}